<%= link_to  "New", new_restaurant_path %>
<ul>
  <% @restaurants.each do |restaurant| %>
    <li>
      <%= restaurant.name %>
      <br>
      <%= restaurant.category %>
    </li>
  <% end %>
</ul>
